<!DOCTYPE html>
<html>
<head>
<%
 host = 'http://127.0.0.1:3001'
 host = '//ws.phocs.net' if Rails.env.staging?
%>
  <script src="<%= host %>/socket.io/socket.io.js"></script>
  <script>
    function enter(event) {
        if (window.event.keyCode == 13 ){ send() };
    }
    function send() {
        socketio.emit("message", document.getElementById('msg').value);
        document.getElementById('msg').value = '';
    }
    var socketio = io.connect('<%= host %>');

    socketio.on("connect", function() {});
    socketio.on("disconnect", function(client) {});

    socketio.on("broadcast", function(data) {
        console.log(data.value);
        document.getElementById("messages").innerHTML += "<div>" + data.value + "</div>";
    });
    </script>
</head>
<body>
<strong>ws chat</strong><br>
<input type="text" id="msg"/>
<input type="button" value="send" onclick="send()" onkeypress="enter(event)"/>
<br>
<hr>
<div id="messages"></div>
</body>
</html>
